registry=https://registry.npmjs.org/
package-lock-registry=https://registry.npmjs.org/
@*:registry=https://registry.npmjs.org/
@godaddy:registry=https://registry.npmjs.org/
@opentelemetry:registry=https://registry.npmjs.org/
audit-level=moderate
fund=false
save-exact=false
package-lock=true
engine-strict=true
link-workspace-packages=false
